<div class="container-listagem">

  <div class="header-list">
    <h3>Listagem de produtos</h3>
    <button nz-button (click)="loadProdutos(pageIndex)">
      <i nz-icon nzType="redo" nzTheme="outline"></i>
    </button>
  </div>

  <nz-list [nzLoading]="!produtos">

    <nz-list-item *ngFor="let item of produtos">
      <nz-list-item-meta [nzDescription]="item.descricao" [nzTitle]="item.nome">
      </nz-list-item-meta>

      <a (click)="showModalDetails(item)">Detalhes</a>
      &nbsp;
      &nbsp;
      <a (click)="showModalEdit(item)">Editar</a>
      &nbsp;
      &nbsp;
      <a (click)="deleteProduto(item)">Apagar</a>
    </nz-list-item>

  </nz-list>

  <nz-empty *ngIf="produtos?.length === 0"></nz-empty>

  <div *ngIf="produtos && produtos?.length > 0" class="container-pagination">
    <nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="pageTotal" [nzPageSize]="pageSize"
      (nzPageIndexChange)="changePage($event)"></nz-pagination>
  </div>

</div>

<!-- <button nz-button [nzType]="'primary'" (click)="showModal()"><span>Show Modal</span></button> -->
<nz-modal [(nzVisible)]="isVisibleDetails" nzTitle="Detalhe do produto" (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()">
  <div *ngIf="itemDetail">
    <p>Nome: {{ itemDetail.nome}}</p>
    <p>Descrição: {{ itemDetail.descricao }}</p>
    <p>Tipo: {{ listagemProdutoService.tipo(itemDetail.tipo) }}</p>
    <p>Data de validade: {{ itemDetail.dataDeValidade | date: 'dd/MM/yyyy' }}</p>
    <p>Quantidade: {{ itemDetail.quantidade }}</p>
    <p>Preço: {{ itemDetail.precoDeVenda }}</p>
  </div>
</nz-modal>

<nz-modal [(nzVisible)]="isVisibleEdit" nzTitle="Editar produto" (nzOnCancel)="handleCancel()" (nzOnOk)="submitForm()">
  <div *ngIf="itemDetail">
    <form nz-form [formGroup]="produtoForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzRequired nzFor="nome">Nome</nz-form-label>
        <nz-form-control [nzSpan]="18" nzErrorTip="Digite o nome do produto!">
          <input id="note" type="text" nz-input formControlName="nome" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzRequired nzFor="descricao">Descrição</nz-form-label>
        <nz-form-control [nzSpan]="18" nzErrorTip="Digite a descrição do produto!">
          <textarea formControlName="descricao" nz-input rows="2"
            placeholder="Digite a descrição do produto"></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="tipo" nzRequired>Tipo</nz-form-label>
        <nz-form-control [nzSpan]="18" nzErrorTip="Tipo">
          <nz-select id="tipo" formControlName="tipo" nzPlaceHolder="Selecione o tipo do produto">
            <nz-option nzValue="1" nzLabel="Orgânico"></nz-option>
            <nz-option nzValue="2" nzLabel="Não orgânico"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="10" nzRequired nzFor="validade">Data de validade</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="Coloque uma data de validade!">
          <nz-date-picker formControlName="validade"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzRequired nzFor="preco">Preço</nz-form-label>
        <nz-form-control [nzSpan]="18" nzErrorTip="Digite o preço do produto!">
          <input type="number" step="0.01" id="preco" type="text" nz-input formControlName="preco" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzRequired nzFor="quantidade">Quantidade</nz-form-label>
        <nz-form-control [nzSpan]="18" nzErrorTip="Digite a quantidade!">
          <input type="number" id="quantidade" type="text" nz-input formControlName="quantidade" />
        </nz-form-control>
      </nz-form-item>
      <!-- <nz-form-item>
        <nz-form-control [nzSpan]="2" [nzOffset]="20">
          <button nz-button nzType="primary">Cadastrar</button>
        </nz-form-control>
      </nz-form-item> -->
    </form>
  </div>
</nz-modal>